.parallax-container {
    margin-top: 50px;
    width: 100vw;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.logo {
    position: relative;
    z-index: 10;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
